{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}
    {#<link href="{{ asset("assets/vendor/select2/select2.min.css") }}" rel="stylesheet" media="all">#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <!-- select2-bootstrap4-theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
{% endblock %}

{% block body %}
    <div class="section__content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Nos voyages</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                            </div>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#modal-create-travel">
                                <i class="zmdi zmdi-plus"></i>Ajouter un voyage
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-borderless table-striped table-earning travelDatatables">
                            <thead>
                                <tr>
                                    <th>Intitulé</th>
                                    <th>Prix</th>
                                    <th>Actif</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for travel in travels %}
                                    <tr>
                                        <td class="font-weight-bold">
                                            <span hidden>1</span>
                                            {{ travel.name }}
                                        </td>
                                        <td class="font-weight-bold">
                                            {{ travel.price }}€
                                        </td>
                                        <td class="font-weight-bold">
                                            {% if travel.isActive is same as(true) %}
                                                <span class="text-success"><i class="fas fa-check"></i></span>
                                            {% else %}
                                                <span class="text-danger"><i class="fas fa-times"></i></span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <span class="openEditModal" data-toggle="modal" data-target="#modal-edit-travel" data-id="{{ travel.id }}">
                                                    <button class="item" data-toggle="tooltip" data-placement="top" title="Editer">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html.twig' %}
        </div>
    </div>
    {% include 'home/includes/modal_travel_creator.html.twig' %}
    {% include 'home/includes/modal_travel_editor.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/js/customs.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validator/jquery.validate.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/vendor/jquery-validator/localization/messages_fr.min.js") }}"></script>

    <script src="{{ asset("assets/js/select2-custom.js") }}"></script>

    <script type="text/javascript" src="{{ asset("assets/js/form_create_travel.js") }}"></script>
    <script type="text/javascript" src="{{ asset("assets/js/form_editor_travel.js") }}"></script>
{% endblock %}